.vscode/*
__pycache__/*
*.py[cod]


data/*
workspace/*
run/*
video/*
*.pth
scripts/AlbedoMMFitting/data/FLAME2020/*

blender/blender-3.1.0-linux-x64.tar.xz
blender/blender-3.1.0-linux-x64/*

face_detection/*
face_alignment/*

*.sh
